<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="/static/main.css">
  <title>Personajes del planeta {{personajes_por_planeta["nombre_planeta"]}}</title>
</head>

<body>


    <div id="header">
      <h1>Personajes del planeta {{personajes_por_planeta["nombre_planeta"]}}</h1>
    </div >

    <br>
    <div class="container">
        {% for personaje in personajes_por_planeta["lista_personajes"] %}
            {% if loop.index0 % 3 == 0 %}
            <div class="row">
              {% endif %}
            <div class="col" id="informacion_obj">
            <h3 style="text-align:center">{{personaje.nombre}}</h3>
            <p>altura: {{personaje.altura}}</p>
            <p>peso: {{personaje.peso}}</p>
            <p>color_cabello: {{personaje.color_cabello}}</p>
            <p>color_piel {{personaje.color_piel}}</p>
            <p>nacimiento {{personaje.nacimiento}}</p>
            <p>genero {{personaje.genero}}</p>
            <p><a href="{{ '/peliculas/%s'%personaje.residente_url|urlencode }}"> Participaciones en peliculas </a></p>
            </div>
            {% if loop.index0 % 3 == 2 or loop.last %}
          </div>
          {% endif %}
        {% endfor %}

    </div>


</body>
</html>
